<div class="card">
    <img src="{{foto_url}}" class="card-img-top">
    <div class="card-body">
        <h5>{{nome}}</h5>
        <p>R$ {{preco}}</p>
        <a href="/produto?id={{id}}" class="btn btn-primary">Ver mais</a>
    </div>
</div>