<div class="col-md-3 mb-4">
    <div class="card h-100">

        <img src="{{foto_url}}" class="card-img-top">

        <div class="card-body">
            <h5 class="card-title">{{nome}}</h5>
            <p>R$ {{preco}}</p>

            <a href="/produto/{{id}}" class="btn btn-primary">Ver Detalhes</a>
        </div>

    </div>
</div>