<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card p-4 shadow" style="width: 350px; border-radius: 12px;">

    <h3 class="text-center mb-3">Login</h3>
    <p class="text-center text-muted mb-4">Acesse sua conta</p>

    {{#if error}}
    <div class="alert alert-danger text-center">
      {{error}}
    </div>
    {{/if}}

    <form method="POST" action="/usuario/login">

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="seuemail@exemplo.com" required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Senha</label>
        <input type="password" id="senha" name="senha" class="form-control" placeholder="••••••••" required>
      </div>

      <button class="btn btn-primary w-100 mt-2" type="submit">
        Entrar
      </button>

      <p class="text-center mt-3">
        <a href="/usuario/cadastro">Criar nova conta</a>
      </p>

    </form>

  </div>
</div>