<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    {{> navbar }}

    <div class="container mt-4">
        {{{ body }}}
    </div>

    {{> footer }}

</body>

</html>